@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap');

*{
 
  font-family: "Jaro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

}



.hero{
    background-image: url('images/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.bgclr{
    background-color: #dbd3cb;
}


.sticky-section {
  position: sticky;
  top: 0; /* Stick to the top of the viewport */
  z-index: 1020; /* Ensure it stays above other elements */
  background-color: #f8f9fa; /* Light background to match the Bootstrap theme */
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add a shadow for emphasis */
}